.ttl {
  font-size: 2vw;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 5% auto;
  padding: 5%;
  box-shadow: 10px 1px 83px -3px rgba(235,235,235,0.75) inset;
-webkit-box-shadow: 10px 1px 83px -3px rgba(235,235,235,0.75) inset;
-moz-box-shadow: 10px 1px 83px -3px rgba(235,235,235,0.75) inset;
  border-radius: 10px;
}
.title,
.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label,
input {
  font-size: 1vw;
}
label {
  font-weight: 500;
}
input[type="text"] {
  padding: 1%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
input[type="ckeditor"] {
  background-color: transparent;
}
input[type="submit"] {
  font-size: 1vw;
  align-self: flex-start;
  background-color: #111;
  color: #d1d1d1;
  padding: 1.5% 7%;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}


@media screen and (max-width:800px) and (min-width:100px){
  input[type="text"] {
    padding: 2% 1%;
    
  }

  label,
input {
  font-size: 2vw;
}
}