.recents{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5%;

}
.one{
    width: 30%;
    color: #d1d1d1;
    background-color: #231F20;
    padding: 2%;
    border-radius: 5px;
}
.ttl{
    font-size: 2vw;
    font-weight: 600;
}

.link{
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 1vw;
    text-decoration: none;

    color: #d1d1d1;
}
.date{
    font-size: .8vw;
}
.date span{
    font-weight: 600;
    margin-right: 2px;
}

.link svg{
    width: 2vw;
}

.posted-r{
    font-size: 2vw;
    position: relative;
    margin-bottom: 2%;
}
.posted-r::after{
    content: "";
    position: absolute;
    width: 10%;
    height:10%;
    background-color: #111;
}

.random{
    width: 50%;
    margin: 10% auto;
   

}
.random .qt p{
    font-size: 1.2vw;

}
.random .qt a{
    font-size: 1vw;
    margin-left: 5%;
}

.all .bg{
    font-size: 1.5vw;
    color: #111;
    font-weight: 600;
    margin: 2% 0;
}
.all .bg a{
    text-decoration: none;
    color: #111;
    font-size: 1vw !important;
}

.articles{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% auto;
    padding: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.content p:nth-child(1){
    font-size: 1.6vw;
   
}
.content a{
    font-size: .8vw;
    text-decoration: none;
    color: #111;
}
.dt{
    font-size: .8vw;
}
.dt span,.profile span{
    font-weight: 600;
}
.btns a{
    font-size: 1vw;
    align-self: flex-start;
    background-color: #111;
    color: #d1d1d1;
    padding: 1.5% 7%;
    text-decoration: none;
    border:none;
    border-radius: 5px;
    font-weight: 500;

}
.txt{
    font-size: 1.3vw;
}

.comment p a{
    color: #111;
    font-weight: 600;
}



#comment-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:10px;
}
#comment-form input{
    width: 20vw;
    height: 5vw;
    padding: 1px 5px;
    font-size: .8vw;
    border-radius: 5px;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;

}
#comment-form button{
  
        font-size: 1vw;
        align-self: flex-start;
        background-color: #111;
        color: #d1d1d1;
        padding: 1%;
        border-radius: 5px;
        text-decoration: none;
        border:none;
        font-weight: 500;
}

.some-comments{
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    gap:10px;
    margin-top: 5%;
}
.comment-cont{
    font-size: 1vw;
}
.comment-cont p{
    font-size: 1vw !important;
}


.auth{
    display: flex;
    gap: 10px;
    align-items: center;
}
.n-auth{
    display: flex;
    gap: 10px;
    align-items: center;
}

.n-auth p:nth-child(1){
    font-size: .9vw !important;
    background-color: transparent;
    font-weight: 600;
    color: #111;
    padding: 0.7% 1.5%;
    border-radius: 15px;

}
.n-auth p:nth-child(2){
    font-size: .7vw !important;
}
.auth p:nth-child(1){
    font-size: .7vw !important;
    background-color: #111;
    color:#d1d1d1;
    padding: 0.7% 1.5%;
    border-radius: 15px;
}
.auth p:nth-child(2){
    font-size: .7vw !important;
}

.actual-n{
    font-size: .9vw !important;
    margin-top: -1%;
    margin-left: 1%;
}

.actual{
    font-size: .9vw !important;
    margin-top: -2%;
    margin-left: 1.5%;

}

.delete-c{
    font-size: 1.2vw !important;
    display: flex;
    margin-top: -2%;
    

}