.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
body{
  height: 100vh;;
}
.right{
    width: 50%; 
    display: flex;
    flex-direction: column;
    
}
.right .techie{
    width: 50vw;
    height: auto;  
    justify-self: center; 
    align-self: center;
}
.left{
    width: 50%;
    
    display: flex;
    flex-direction: column;
}
form{
    background-color: #111;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 5% 4%;
    justify-self: center; 
    align-self: center;
    width: 70%;
    position: relative;
}
h1{
    font-size: 2vw;
    color: white;
}
.username,.password{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    color:white;
    font-size: 1vw;
}
input{
    padding: 4% 5%;
    border:none;
    font-size: 1vw;
    border-radius: 5px;
}
button{
    background-color:#ffd2bd;
    border-radius: 3%;
    padding: 4% 15%;
    font-size: 1.2vw;
    gap:1%;
    border:none;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
}
.submit a{
    color:#ffd2bd;
    font-size: 1vw;
}


@media screen and (max-width:576px){
 
    .main-container{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding:0;

    }
    .left{
        width: 80%;
        margin:auto;
    }
    form{
        width: 100%;
        margin:auto;
        
    }
    .right .techie{
        display: none;
    }
    
    label,input,button,.submit a{
        font-size: 2vw;
    }
}

