@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo a {
        font-family: 'Pacifico', cursive;
        color:black;
        font-size: 1.2vw;
        text-align: center;
   
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

ul li a{
    font-size: 1.2vw;
    color: black;
    display: flex;
  
}
.btn-s{
    color:#ffd2bd;
    text-decoration: none;
    background-color: black;
    padding: .8vw 3vw;
    border-radius: 7px;  
}
ul li a svg{
    color: #111;
    height: 2vw;
    width: 2vw;
}


.not-admin,.admin,.not-in{
    display: flex;
    align-items: center;
}