{% extends 'base.html' %} {% include 'nav.html' %} {% block styles %} <link
rel="stylesheet" href="{{url_for('static',filename= "css/editpost.css")}}"> {%
endblock %} {% block content %}

<form method="post">
    <h1 class="ttl">Publish Blog</h1>
  <div class="title">
    <label for="title">Title</label>
    {{form.title()}}
  </div>
  <div class="body">
    <label for="body">Content</label>
    {{form.body()}}
  </div>

  {{form.submit()}}
</form>

{{ckeditor.load()}} 
{{ckeditor.config(name = 'body')}} 
{% endblock %}
