{% extends 'base.html' %} {% include 'nav.html' %} {% block styles %} <link
rel="stylesheet" href="{{url_for('static',filename= "css/index.css")}}"> {%
endblock %} {% block content %}

<div class="random">
  <div class="qt">
    <p>
      {{quote.quote}}
    </p>
    <a
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 16"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"
        />
      </svg>
      {{quote.author}}</a
    >
  </div>
</div>

<section class="recent-area">
    {% if recents %}
  <div class="posted-r">
    <h1>Recent Post</h1>
  </div>

  <div class="recents">
      
    {% for recent in recents %}
    <div class="one">
      <div class="ttl">
        <p>{{recent.title | truncate (100,True , '...')}}</p>
      </div>
      <div class="date">
        <p class="date">
          <span>posted on:</span> {{recent.date_created | format_date }}
        </p>
        <a href="/posts/{{recent.id}}" class="link"
          >Read Article
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="img"
            width="1em"
            height="1em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 12h16m-7-7l7 7l-7 7"
            />
          </svg>
        </a>
      </div>
    </div>
    {% endfor %}
      {% else %}

       <div class="posted-r">
    <h1>No recent posts</h1>
  </div>
    {% endif %}
  </div>
</section>

<div class="all">
  <h1 class="bg">
    BLOG
    <a href=""
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="m6.5 17.5l8.25-5.5L6.5 6.5l1-1.5L18 12L7.5 19z"
        />
      </svg>
      all</a
    >
  </h1>
  <div class="articles">
    {% for one in all %}
    <div class="article">
      <div class="content">
        <p class="ttl">{{one.title}}</p>
        <a href="{{url_for('main.profile',id = 1)}}" class="profile">
          <span>By: </span>{{one.user.username}}</a
        >
        <p class="dt">
          <span>Posted on:</span> {{one.date_created | format_date()}}
        </p>
        <div class="txt">
          <p>{{one.text | safe}}</p>
        </div>
        <div class="comments-cont">
          <!-- comments -->
          <div class="comment">
            <!-- btn comment -->
            <p>
              <a
                data-bs-toggle="collapse"
                href="#comments-{{one.id}}"
                role="button"
                aria-expanded="false"
                aria-controls="comments"
                >comment <span>{{one.comments | length}}</span></a
              >
            </p>
          </div>
          <!-- data  -->
          <div class="collapse" id="comments-{{one.id}}">
            <div class="comment-form">
              <form
                method="post"
                id="comment-form"
                action="/add-comment/{{one.id}}"
              >
                <input
                  type="text"
                  id="comm"
                  name="comment"
                  placeholder="add comment"
                />
                <button id="submit" type="submit">comment</button>
              </form>
            </div>

            <div class="some-comments">
              {% for comment in one.comments %}
              <div class="comment-cont">
                <div class="author">
                  {% if comment.author == one.author %}
                  <div class="auth-div">
                    <div class="auth">
                      <p>{{comment.user.username}}</p>
                      <p>{{comment.date_created | format_date()}}</p>

                      {% if current_user.id == comment.author or current_user.id
                      == one.author %}
                      <a class="delete-c" href="/comments/delete/{{comment.id}}"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          role="img"
                          width="1em"
                          height="1em"
                          preserveAspectRatio="xMidYMid meet"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill="currentColor"
                            d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-9 3h2v6H9v-6zm4 0h2v6h-2v-6zM9 4v2h6V4H9z"
                          /></svg>
                      </a>

                      {% endif %}
                    </div>
                    <p class="actual-n">{{comment.comment}}</p>
                  </div>

                  {% else%}
                  <div class="n-author-div">
                    <div class="n-auth">
                      <p>{{comment.user.username}}</p>
                      <p>{{comment.date_created | format_date()}}</p>
                      {% if current_user.id == comment.author or current_user.id
                      == one.author %}
                      <a class="delete-c" href="/comments/delete/{{comment.id}}"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          role="img"
                          width="1em"
                          height="1em"
                          preserveAspectRatio="xMidYMid meet"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill="currentColor"
                            d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-9 3h2v6H9v-6zm4 0h2v6h-2v-6zM9 4v2h6V4H9z"
                          /></svg>
                      </a>

                      {% endif %}
                    </div>
                    <p class="actual">{{comment.comment}}</p>
                  </div>

                  {% endif %}
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      {% if current_user.is_authenticated %} {% if current_user.id == 1%}
      <div class="btns">
        <a href="{{url_for('main.edit_post',id=one.id)}}">Edit</a>
        <a href="{{url_for('main.delete_post',id=one.id)}}">Delete</a>
        <a href="{{url_for('main.post',id=one.id)}}">View article</a>
      </div>

      {% else %}
      <div class="btns">
        <a href="{{url_for('main.post',id=one.id)}}">View article</a>
      </div>

      {% endif %} {% else %}
      <div class="btns">
        <a href="{{url_for('main.post',id=one.id)}}">View article</a>
      </div>

      {% endif %}
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
